.modal-container {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  z-index: 11111111;
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 669px;
    height: 361px;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px #dedede;
    border-radius: 5px;
    opacity: 1;
    z-index: 111;
    .social-modal {
      text-align: center;
      p {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
        color: #000000;
        margin-bottom: 50px;
      }
      .btn-cancel {
        width: 165px;
        height: 56px;
        left: 792px;
        top: 473px;
        background: #f0f1f1;
        border-radius: 5px;
        border: none;
        color: #0e0e0e;
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
      }
      .btn-save {
        width: 165px;
        height: 56px;
        background: #009345;
        border-radius: 5px;
        border: none;
        color: $white;
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        cursor: pointer;
        margin-left: 6px;
      }
    }
  }
  .from-pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 551px;
    background: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px #dedede;
    border-radius: 5px;
    opacity: 1;
    z-index: 111;
    .closeModal {
      position: absolute;
      right: 30px;
      top: 30px;
      cursor: pointer;
      svg {
        width: 12px;
        height: 12px;
        path {
          fill: #000000;
        }
      }
    }
    .pin-modal {
      width: 900px;
      display: flex;
      flex-direction: column;
      p {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #000000;
      }
      span {
        margin: 20px 0 15px 0;
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.4;
      }
      .input-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .error-message {
          color: red;
        }
        .pin-input {
          width: 100%;
          height: 56px;
          background: #fbfbfb;
          box-shadow: 0 0 8px #d8d8d8;
          border-radius: 5px;
          border: none;
          padding-left: 25px;
          outline: none;
          &::placeholder {
            color: #000000;
            opacity: 0.4;
            font-family: 'SF Pro Display', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
          }
        }

        .pin-btn {
          width: 232px;
          height: 56px;
          background: #009345;
          border-radius: 5px;
          border: none;
          color: $white;
          font-family: 'SF Pro Display', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          margin-top: 20px;
          cursor: pointer;
          span {
            padding-left: 12px;
            svg {
              width: 10px;
              height: 8.8px;
              path {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
  .security-question__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1439px;
    height: 551px;
    background: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px #dedede;
    border-radius: 5px;
    opacity: 1;
    z-index: 111;
    padding: 0 1rem;
    .closeModal {
      position: absolute;
      right: 30px;
      top: 30px;
      cursor: pointer;
      svg {
        width: 12px;
        height: 12px;
        path {
          fill: #000000;
        }
      }
    }
    .pin-holder {
      width: 100%;
      max-width: 972px;
      p {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #000000;
        margin-bottom: 11px;
      }
      .span {
        margin-bottom: 20px;
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        opacity: 0.4;
        display: block;
      }
      .input-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .pin-input {
          width: 100%;
          height: 56px;
          background: #fbfbfb;
          box-shadow: 0 0 8px #d8d8d8;
          border-radius: 5px;
          border: none;
          padding-left: 25px;
          outline: #d8d8d8;

          &::placeholder {
            color: #000000;
            opacity: 0.4;
            font-family: 'SF Pro Display', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
          }
        }

        .pin-btn {
          width: 232px;
          height: 56px;
          background: #009345;
          border-radius: 5px;
          border: none;
          color: $white;
          font-family: 'SF Pro Display', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          margin-top: 20px;
          cursor: pointer;

          span {
            padding-left: 12px;
            svg {
              width: 10px;
              height: 8.8px;

              path {
                fill: $white;
              }
            }
          }
        }
        .pin-btn_disabled {
          width: 232px;
          height: 56px;
          background: #009345;
          border-radius: 5px;
          border: none;
          color: $white;
          font-family: 'SF Pro Display', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          margin-top: 20px;
          cursor: pointer;
          opacity: 0.4;
          span {
            padding-left: 12px;
            svg {
              width: 10px;
              height: 8.8px;
              path {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
  .pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 808px;
    height: 440px;
    background: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 8px #dedede;
    border-radius: 5px;
    opacity: 1;
    z-index: 111;
    .closeModal {
      position: absolute;
      right: 30px;
      top: 30px;
      cursor: pointer;
      svg {
        width: 12px;
        height: 12px;
        path {
          fill: #000000;
        }
      }
    }
    .pin-holder {
      width: 517px;
      p {
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        color: #000000;
        margin-bottom: 11px;
      }
      .span {
        margin-bottom: 20px;
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        opacity: 0.4;
        display: block;
      }
      .input-holder {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .pin-input {
          width: 972px;
          height: 56px;
          background: #fbfbfb;
          box-shadow: 0 0 8px #d8d8d8;
          border-radius: 5px;
          border: none;
          padding-left: 25px;
          outline: #d8d8d8;

          &::placeholder {
            color: #000000;
            opacity: 0.4;
            font-family: 'SF Pro Display', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
          }
        }

        .pin-btn {
          width: 232px;
          height: 56px;
          background: #009345;
          border-radius: 5px;
          border: none;
          color: $white;
          font-family: 'SF Pro Display', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          margin-top: 20px;
          cursor: pointer;

          span {
            padding-left: 12px;
            svg {
              width: 10px;
              height: 8.8px;

              path {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
}
