.side-menu {
  .side-menu-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border: none;
    width: 120px;
    height: 100vh;
    box-shadow: 0 0 8px #dedede;
    position: relative;
    transition: all 0.5s ease;
    z-index: 11;
    .logo {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 86px;
      transition: inherit;

      &-box {
        height: 70px;
        transition: inherit;
        overflow: hidden;
      }
    }
    &__items {
      max-width: 100%;
    }

    .open-side-menu {
      width: 7px;
      height: 60px;
      position: absolute;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
      cursor: pointer;
      transition: 0.5s;
      overflow: hidden;
      &:hover span,
      &.active span {
        background: #33a96a;
        transition: 0.5s;
      }
      span {
        width: 2px;
        height: 54px;
        background: #c8c8c8;
        border-radius: 1px;
        display: block;
        position: absolute;
        top: 50%;
        right: 2px;
        transform: translateY(-50%);
        transition: 0.5s;
      }
    }
    .icons {
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      li {
        max-height: 35px;
      }
      .item {
        display: none;
      }

      .icon {
        list-style: none;
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #c8c8c8;
        height: 35px;
        transition: 0.2s ease;
        position: relative;

        &_title {
          cursor: pointer;
          width: 100%;
          height: 100%;
          display: grid;
          padding: 0 31px 0 52px;
          grid-template-columns: auto 1fr 17px;
          overflow: hidden;

          > span {
            align-self: center;
          }
          .name,
          .arrow {
            display: none;
          }
          .name {
            margin-left: 14px;
            width: max-content;
            font-size: 13px;
          }
          .arrow {
            transform: rotate(-90deg);
            height: 17px;
            path {
              fill: $icon-gray;
            }
          }
          .svgIcon {
            path {
              fill: $icon-gray;
            }
          }
        }

        &:hover,
        &_active {
          color: #000000;

          .svgIcon {
            path {
              fill: $green;
            }
          }
        }

        &:hover {
          background: #f7f7f7;

          .fields {
            display: block;
          }
        }
      }

      &_icon:hover {
        .fields {
          display: block;
        }
      }
    }

    .fields {
      width: 100%;
      height: auto;
      position: absolute;
      left: calc(100% - 1px);
      top: -30px;
      min-width: 150px;
      background: #ffffff;
      box-shadow: 0 0 8px #dedede;
      display: none;
      z-index: 1;
      padding: 30px 0;
      transform: translateX(2px);
    }

    .field {
      cursor: pointer;
      list-style: none;
      font-family: 'SF Pro Display', sans-serif;
      font-weight: 600;
      font-size: 13px;
      color: #c8c8c8;
      transition: 0.5s ease;
      padding: 10px 0;
      white-space: nowrap;
      &:hover {
        color: #000000;
        background: #f7f7f7;
        transition: 0.5s ease;
      }
      span {
        padding: 0 30px 0;
      }
    }
    .logout {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-top: 38px;
      width: 100%;
      height: 35px;
      position: relative;
      bottom: 38px;
      transition: 0.2s ease;

      .logout-icon {
        path {
          fill: $icon-gray;
        }
        padding: 0 10px 0 52px;
        rect {
          fill: $icon-gray;
        }
      }

      .name {
        transition: inherit;
        display: none;
        margin-top: -5px;
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 600;
        font-size: 13px;
        color: #c8c8c8;
      }

      &:hover {
        color: #000000;
        background: #f7f7f7;
        .logout-icon {
          path {
            fill: #009345;
          }
          rect {
            fill: #009345;
          }
        }
        .name {
          color: $black;
        }
      }
    }

    &:hover,
    &__open {
      width: 240px;

      .logo-box {
        height: 100%;
      }
      .logout {
        .name {
          display: inline-block;
        }
      }
      .icons {
        padding: 0;

        .icon {
          .name,
          .arrow {
            display: block;
          }
        }
        .active-icons {
          color: #000000;
          background: #f7f7f7;

          .name,
          .arrow {
            display: block;
          }
        }
        .hide {
          display: block;
        }
      }
    }
  }
}
