.form {
  display: flex;
  flex-direction: column;
  width: 576px;
  height: 286px;
}

.form > h1 {
  margin: 0 0 32px 0;
}

.form div:nth-child(1) {
  margin-bottom: 23px;
}

.form_buttons {
  margin-top: 23px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form_buttons button {
  width: 227px;
}

.password_success_popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(253, 253, 253, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.password_success_popup > div {
  width: 80%;
  max-width: 1138px;
  height: 80%;
  max-height: 600px;
  background: #fdfdfd;
  box-shadow: 0 0 8px #dedede;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.password_success_popup h1,
.link_expired h1 {
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  margin: 0;
  opacity: 0.4;
}
.password_success_popup button,
.link_expired button {
  background: #009345;
  opacity: 0.8;
  border-radius: 5px;
  width: 147px;
  height: 56px;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 0.14em;
  color: #fbfbfb;
}
.link_expired button {
  margin-top: 23px;
}
.link_expired {
  text-align: center;
}
