.form {
  display: flex;
  flex-direction: column;
  width: 476px;
  height: 390px;
}

.form_inputs > div:nth-child(1) {
  margin-bottom: 19px;
}

.form_password_actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 22px 0;
}

.form_buttons {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.form_buttons button:nth-child(2) {
  margin-top: 19px;
}
.ico_button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ico_button:after {
  content: url('../../../UI/arrow.svg');
  margin-left: 12px;
  margin-top: 4px;
}

.account_lastRow {
  position: relative;
}
.account_lastRow span {
  position: absolute;
  bottom: -18px;
}
