/// Colors
$green: #33a96a;
$red: #fe0000;
$yellow: #fdcc4e;
$black: #0e0e0e;
$dark-green: #223d23;
$icon-gray: #c8c8c8;
$dark-grey: #939393;
$light-grey: #d7d7d7;
$light: #fbfbfb;
$white: #ffffff;
$error: #fe3333;

/// font sizes
