.form {
  width: 476px;
  height: 235px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.form > h1 {
  margin: 0 0 15px 0;
}

.form_buttons_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.form_button {
  width: 227px;
}
